/* selector universal (reset) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato';
    src: url('./recursos/tipografias/Lato-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('./recursos/tipografias/Lato-Bold.ttf');
    font-weight: bold;
}

body {
    font-family: 'Lato';
    background-color: #eee;
}

/* GLOBAL */
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* ENCABEZADO */
.encabezado {
    background-color: #0f172a;
    padding: 30px 20px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.encabezado__contenido-logo {
    color: #22c55e
}

.encabezado__contenido-menu a {
    color: #e2e8f0;
    font-weight: bold;
}

.encabezado__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.encabezado__contenido-menu {
    display: flex;
}

.encabezado__contenido-menu li {
    margin: 0 15px;
}

.encabezado__contenido-menu-celular {
    display: none;
}

/* CONTENIDO PRINCIPAL */
.estadisticas {
    background-image: url('./recursos/imagenes/bg.jpg');
    background-repeat: no-repeat;
    /* horizontal, vertical */
    background-position: center;
    /* cover: la imagen se ajuste al ancho del contenedor */
    /* contain: al alto del contendor */
    background-size: cover;
    /* fixed: fijar la imagen */
    background-attachment: fixed;
    color: #fff;
    padding: 150px 20px;
    margin-top: 80px
}

.estadisticas__contenido {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin: 0 auto;
}

.estadisticas__contenido-dato {
    font-size: 40px;
    text-align: center;
}

.estadisticas__contenido-dato span {
    font-size: 20px;
    display: block;
    margin-top: 5px;
}

.cursos {
    margin-top: 60px;
    padding: 0 20px;
}

.cursos__contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.cursos__titulo {
    margin-bottom: 40px;
    text-align: center;
    font-size: 30px;
}

/* TARJETAS */
.tarjeta {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    /* eje x, y, difuminacion (mayor mas difuminacion), propagacion (valores positivos se expande), color  */
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);
    /* top: arriba, bottom: abajo, left: izquiera, right: derecha */
    /* padding: 200px 100px 50px 150px; */
    /* padding-right: 50px; */
    /* padding: 100px 50px; */
    /* border: 5px solid #000;
    margin-top: 200px; */
    /* margin-bottom: 500px; */
    /* width: 400px; */
}

.tarjeta__enlace {
    background-color: #22c55e;
    /* display: inline; */
    /* pierden: margin top, bottom, height, width */
    /* margin-top: 200px; */
    /* margin-bottom: 500px; */
    /* height: 50px;  */
    width: 100%;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    padding: 15px 0;
    font-weight: bold;
}

.tarjeta__descripcion {
    margin-bottom: 40px;
    /* height: 40px; */
    /* overflow-y: scroll; */
}

.tarjeta__titulo {
    margin-bottom: 20px;
    font-size: 20px;
}

.tarjeta__encabezado-imagen {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tarjeta__encabezado {
    position: relative;
}

.tarjeta__encabezado-etiqueta {
    padding: 8px;
    /* posicionar desde el body, cuando su contenedor padre no tiene relative */
    position: absolute;
    /* top, bottom, left, right */
    right: 0;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 10px 0 10px;
    text-transform: uppercase;
}

.tarjeta__encabezado-etiqueta--destacada {
    font-weight: bold;
}

.whatsapp {
    position: fixed;
    bottom: 40px;
    right: 20px;
}

/* mobile last */
@media (max-width: 992px) {
    .cursos__contenido {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .encabezado__contenido-menu {
        display: none;
    }

    .encabezado__contenido-menu-celular {
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .cursos__contenido {
        grid-template-columns: 1fr;
    }

    .estadisticas__contenido {
        flex-direction: column;
    }

    .estadisticas__contenido-dato {
        margin: 30px 0;
    }
}