// colores
$fontLight: #e2e8f0;
$bgDark: #0f172a;
$primary: #22c55e;

// breakpoints
$bpSmall: 576px;
$bpMedium: 768px;
$bpLarge: 992px;

// utilidades
$defaultSize: 10px;
$transition: all 0.3s;
$shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.6);